@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff8527;
    color: rgb(228, 228, 228);
    text-shadow:rgb(0, 0, 0) 1px 1px 1px;
    text-align: center;
}

h1{
    font-size: 50px;
}

#cabecalho{
    width: 50%;
    margin: auto;
}

#Links{
    background-color: #4D8B31;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.377);
    text-align: center;
}


a{
    color: rgb(144, 216, 198);
    text-align: center;
    text-decoration: none;
}